[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "vendor/pocketfft"]
	path = vendor/pocketfft
	url = https://gitlab.mpcdf.mpg.de/mtr/pocketfft.git
